    .start-text {
        @apply text-(--font-color);
    }

    .x-dashed-line {
        @apply w-[200vw] absolute border-b-2 border-dashed border-(--border-color);
        border-bottom: 1px dashed transparent;
        border-image: repeating-linear-gradient(to right, var(--border-color) 0 10px, transparent 10px 20px) 1;
    }
